<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="container">
                <nav class="header-nav">
                    <ul class="links-list">
                        <li class="logo">SuperCollection</li>
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li><a href="{{ path('album') }}">Albums</a></li>
                    </ul>
                    <ul class="cta-list">
                        {% if app.user %}
                            <li><a href="{{ path('profile') }}">{{ app.user.firstname}} {{ app.user.lastname}}</a></li>
                            <li><a href="{{ path('app_logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ path('register') }}">Sign up</a></li>
                            <li><a href="{{ path('app_login') }}">Log In</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
